{% load static %}

<div class="text-white footer pt-48 px-16 pb-16">
    <div class="flex flex-row justify-center items-center content-center">
        <div class="flex flex-col justify-center gap-1 w-1/3">
            <h3 class="text-3xl">About StatsForTor</h3>
            <h4 class="text-xl">StatsForTor is a free and opensource web interface for the Onionoo API developed by the
                community.</h4>

        </div>
        <div class="flex flex-col justify-center content-center items-center text-lg w-1/3">
            <div class="flex flex-col">

                <a href="https://github.com/MiranDaniel/statsfortor" class="hover:underline transition-all"><span>
                        <i class="bi bi-github"></i> Github
                    </span></a>
                <a href="https://github.com/MiranDaniel/statsfortor/issues"
                    class="hover:underline transition-all"><span>
                        <i class="bi bi-bug"></i> Report bug
                    </span></a>
                <a href="https://mirandaniel.com/" class="hover:underline transition-all"><span>
                        <i class="bi bi-envelope"></i> Contact maintainer
                    </span></a>

                <a href="/donate" class="hover:underline transition-all"><span>
                        <i class="bi bi-heart-fill"></i> Donate to StatsForTor
                    </span></a>
                <a href="https://donate.torproject.org" class="hover:underline transition-all"><span>
                        <i class="bi bi-heart-fill"></i> Donate to the Tor Project
                    </span></a>

            </div>
        </div>
        <div class="flex flex-col justify-center flex-wrap w-1/3">
            <span class="text-sm">StatsForTor is produced independently from the Tor® anonymity software and carries no
                guarantee from The Tor Project about quality, suitability or anything else.</span>
            <span class="text-sm text-white/50 hover:text-white">StatsForTor uses data from the Onionoo API, all data
                accuracy depends on the API
                responses.</span>
            <small class="text-xs text-white/50 hover:text-white block">THE SOFTWARE IS PROVIDED "AS IS", WITHOUT
                WARRANTY OF
                ANY KIND, EXPRESS OR IMPLIED,
                INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
                NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR
                OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
                CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
            </small>
            <small class="text-xs text-white/50 hover:text-white">
                Made by <a href="https://mirandaniel.com/" class="underline">MiranDaniel</a> with <a
                    href="https://www.djangoproject.com/" class="underline">Django</a> and love &lt;3
            </small>
        </div>
    </div>
</div>