<div class="m-2 text-white font-light shadow-white">
    {% if not index %}
    <div class="flex flex-row justify-between content-center items-center">
        <a href="/">
            <h1 class="text-5xl drop-shadow underline underline-offset-8">&nbsp;StatsForTor&nbsp;</h1>
        </a>
        <a href="https://metrics.torproject.org/rs.html#details/{{fingerprint}}">
            <h2
                class="text-lg drop-shadow font-medium border p-2 rounded-xl hover:bg-white hover:text-tdpurple  transition-all">
                View {{name}} on Metrics</h2>
        </a>
    </div>

    {% elif not donate %}

    <div class="flex flex-col justify-center content-center items-center p-24">
        <h1 class="text-9xl drop-shadow">StatsForTor</h1>
        <h2 class="text-3xl drop-shadow">Advanced relay statistics for the Tor network</h2>
    </div>


    {% else %}

    <div class="absolute">
        <div class="flex flex-row justify-between content-center items-center">
            <a href="/">
                <h1 class="text-5xl drop-shadow underline underline-offset-8">&nbsp;StatsForTor&nbsp;</h1>
            </a>
        </div>
    </div>

    <div class="flex flex-col justify-center content-center items-center p-24">
        <h1 class="text-9xl drop-shadow">Donate</h1>
        <h2 class="text-3xl drop-shadow">Help with the development and hosting of the project</h2>
    </div>

    {% endif %}
</div>