<div class="m-2 text-white font-light shadow-white">
    {% if not index %}
    <div class="flex flex-row justify-between content-center items-center">
        <a href="/"><h1 class="text-5xl drop-shadow underline underline-offset-8">&nbsp;StatsForTor&nbsp;</h1></a>
        <a href="https://metrics.torproject.org/rs.html#details/{{fingerprint}}"><h2 class="text-lg drop-shadow font-medium border p-2 rounded-xl hover:bg-white hover:text-tdpurple">View {{name}} on Metrics</h2></a>
    </div>
    {% else %}

    <div class="flex flex-col justify-center content-center items-center p-24">
        <h1 class="text-9xl drop-shadow">StatsForTor</h1>
        <h2 class="text-3xl drop-shadow">Advanced relay statistics for the Tor network</h2>
    </div>

    {% endif %}
</div>