{% extends 'base.html' %}
{% block content %}

<div class="flex flex-col justify-center content-center items-center text-white gap-2">

<h2 class="text-7xl">{{name}}</h2>
<h3 class="text-xl text-white/75">{{fingerprint}}</h3>
<h4 class="text-2xl text-white">{{type}}</h4>
</div>




<script>
var writeTotal = parseFloat(`{{writeTotal}}`)
var readTotal = parseFloat(`{{readTotal}}`)

var writePerSecond = parseFloat(`{{writePerSecond}}`)/100
var readperSecond = parseFloat(`{{readPerSecond}}`)/100


function increment(){
    writeTotal += writePerSecond
    readTotal += readperSecond
    document.getElementById("written").innerText = Math.round(writeTotal/1000/10)/100000
    document.getElementById("read").innerText = Math.round(readTotal/1000/10)/100000
}
setInterval(increment, 10)
</script>

{% endblock %}