{% extends 'base.html' %}
{% block content %}

<header class="flex flex-col justify-center content-center items-center text-white gap-2">
    <h2 class="text-7xl">{{name}}</h2>
    <h3 class="text-xl text-white/75">{{fingerprint}}</h3>
    <div class="flex flex-row justify-center items-center content-center w-1/3">
        {% if running %}
        <hr class="border-green-500 border-4 w-full">
        <span class="mx-2 text-xl text-green-500 font-bold">Online</span>
        <hr class="border-green-500 border-4 w-full">
        {% else %}
        <hr class="border-red-500 border-4 w-full">
        <span class="mx-2 text-xl text-red-500 font-bold">Offline</span>
        <hr class="border-red-500 border-4 w-full">
        {% endif %}
    </div>
</header>
<br class="my-28">
<div class="flex flex-col justify-center items-center content-center text-tdpurple">
    <div class="flex flex-row justify-center gap-5 w-2/3">
        <div class="flex flex-col gap-5 w-1/3">
            <div class="border-tpurple p-2 border-2 rounded-xl">
                <h4 class="text-2xl">IP Addresses</h4>
                <div class="flex flex-col gap-3">
                    <div>
                        <h5 class="font-semibold">Dir Address</h5>
                        <ul class="flex flex-col gap-0 text-sm list-disc mx-5">
                            <pre><code>{{dir_address}}</code></pre>
                        </ul>
                    </div>
                    <div>
                        <h5 class="font-semibold">OR Addresses</h5>
                        <ul class="flex flex-col gap-0 text-sm list-disc mx-5">
                            {% for i in or_addresses %}
                            <li>
                                <pre><code>{{i}}</code></pre>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div>
                        <h5 class="font-semibold">Exit Addresses</h5>
                        <ul class="flex flex-col gap-0 text-sm list-disc mx-5">
                            {% for i in exit_addresses %}
                            <li>
                                <pre><code>{{i}}</code></pre>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="border-tpurple p-2 border-2 rounded-xl text-md">
                <h4 class="text-2xl">Origin</h4>
                <div>
                    <h5 class="font-semibold">Country</h5>
                    <ul class="flex flex-col gap-0 list-disc mx-5 p-0">
                        <span class="flex flex-row text-md align-middle items-center gap-x-3"><img
                                src="/static/flags/4x3/{{country}}.svg" class="h-4"
                                alt="{{country}}">{{country_name}}</span>
                    </ul>
                </div>
                <div>
                    <h5 class="font-semibold">AS Number</h5>
                    <ul class="flex flex-col gap-0 list-disc mx-5 p-0">
                        <pre><code>{{as_number}}</code></pre>
                    </ul>
                </div>
                <div>
                    <h5 class="font-semibold">AS Name</h5>
                    <ul class="flex flex-col gap-0 list-disc mx-5 p-0">
                        <span>{{as_name}}</span>
                    </ul>
                </div>
            </div>
            <div class="border-tpurple p-2 border-2 rounded-xl text-md">
                <h4 class="text-2xl">Time<small class="text-xs my-0 py-0 mx-2">All time is UTC-0</small></h4>
                <div>
                    <h5 class="font-semibold">Last seen</h5>
                    <ul class="flex flex-col gap-0 list-disc mx-5 p-0">
                        <span>{{last_seen}} | {{last_seen_ago}} ago</span>
                    </ul>
                </div>
                <div>
                    <h5 class="font-semibold">First seen</h5>
                    <ul class="flex flex-col gap-0 list-disc mx-5 p-0">
                        <span>{{first_seen}} | {{first_seen_ago}} ago</span>
                    </ul>
                </div>
                <div>
                    <h5 class="font-semibold">Last changed address or port</h5>
                    <ul class="flex flex-col gap-0 list-disc mx-5 p-0">
                        <span>{{last_changed_address_or_port}} | {{last_changed_address_or_port_ago}} ago</span>
                    </ul>
                </div>
                <div>
                    <h5 class="font-semibold">Last restarted (uptime/downtime)</h5>
                    <ul class="flex flex-col gap-0 list-disc mx-5 p-0">
                        <span>{{last_restarted}} | {{last_restarted_ago}} ago</span>
                    </ul>
                </div>
            </div>
            <div class="border-tpurple p-2 border-2 rounded-xl text-md">
                <h4 class="text-2xl">Client</h4>
                <div>
                    <h5 class="font-semibold">Platform</h5>
                    <ul class="flex flex-col gap-0 list-disc mx-5 p-0">
                        <span>{{platform}}</span>
                    </ul>
                </div>
                <div>
                    <h5 class="font-semibold">Version Status</h5>
                    <ul class="flex flex-col gap-0 list-disc mx-5 p-0">
                        <span class="capitalize">{{version_status}}</span>
                    </ul>
                </div>
                <div>
                    <h5 class="font-semibold">Measured</h5>
                    <ul class="flex flex-col gap-0 list-disc mx-5 p-0">
                        <span>{{measured}}</span>
                    </ul>
                </div>
            </div>
            <div class="border-tpurple p-2 border-2 rounded-xl text-md">
                <h4 class="text-2xl">Consensus & network</h4>
                <div>
                    <h5 class="font-semibold">Consensus weight</h5>
                    <ul class="flex flex-col gap-0 list-disc mx-5 p-0">
                        <span>{{consensus_weight}}</span>
                    </ul>
                </div>
                <div>
                    <h5 class="font-semibold">Consensus weight fraction</h5>
                    <ul class="flex flex-col gap-0 list-disc mx-5 p-0">
                        <span class="capitalize">{{consensus_weight_fraction}}%</span>
                    </ul>
                </div>
                <div>
                    <h5 class="font-semibold">Guard probability</h5>
                    <ul class="flex flex-col gap-0 list-disc mx-5 p-0">
                        <span>{{guard_probability}}%</span>
                    </ul>
                </div>
                <div>
                    <h5 class="font-semibold">Middle probability</h5>
                    <ul class="flex flex-col gap-0 list-disc mx-5 p-0">
                        <span>{{middle_probability}}%</span>
                    </ul>
                </div>
                <div>
                    <h5 class="font-semibold">Exit probability</h5>
                    <ul class="flex flex-col gap-0 list-disc mx-5 p-0">
                        <span>{{exit_probability}}%</span>
                    </ul>
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-5 w-3/4">
            <div class="border-tpurple p-2 border-2 rounded-xl">
                <h4 class="text-2xl">Flags</h4>
                <ul class="flex flex-row flex-wrap gap-x-5 text-lg mx-5">
                    {% for i in flags_l %}
                    <li>
                        <i class="ti ti-{{i}}"></i>
                        <span class="capitalize mx-1">{{i}}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="border-tpurple p-2 border-2 rounded-xl">
                <h4 class="text-2xl">Contact</h4>
                <p class="text-md">{{contact}}</p>
            </div>
            <div class="border-tpurple p-2 border-2 rounded-xl text-md">
                <h4 class="text-2xl">Bandwidth</h4>
                <div>
                    <h5 class="font-semibold">Calculated bandwidth</h5>
                    <ul class="flex flex-col gap-0 list-disc mx-5 p-0">
                        <li>{{writePerSecondNice}}/s ⬆️</li>
                        <li>{{readPerSecondNice}}/s ⬇️</li>
                    </ul>
                </div>
                <div>
                    <h5 class="font-semibold">Observed rate</h5>
                    <ul class="flex flex-col gap-0 list-disc mx-5 p-0">
                        <span>{{bandwidthObservedNice}}/s</span>
                    </ul>
                </div>
                <div>
                    <h5 class="font-semibold">Advertised Burst</h5>
                    <ul class="flex flex-col gap-0 list-disc mx-5 p-0">
                        <span>{{bandwidthAdvertisedNice}}/s</span>
                    </ul>
                </div>
                <div>
                    <h5 class="font-semibold">Bandwidth rate</h5>
                    <ul class="flex flex-col gap-0 list-disc mx-5 p-0">
                        <span>{{bandwithRateNice}}/s</span>
                    </ul>
                </div>
            </div>
            <div class="border-tpurple p-2 border-2 rounded-xl text-md">
                <h4 class="text-2xl">Family</h4>
                <div class="flex flex-row justify-between gap-2">

                    <div class="overflow-scroll w-1/2 bg-tpurple/10 p-2 rounded-xl">
                        <h5 class="font-semibold">Effective family</h5>
                        <div class="max-h-96">
                            <pre class="overflow-scroll" style="white-space:normal;">
                        <ul class="flex flex-col list-disc mx-5 p-0">
                            {% for i in effective_family%}
                            <a href="/relay/{{i}}">
                                <li class="text-sm">{{i}}</li>
                            </a>
                            {% endfor %}
                        </ul>
                    </pre>
                        </div>
                    </div>
                    <div class="overflow-scroll w-1/2 bg-tpurple/10 p-2 rounded-xl">
                        <h5 class="font-semibold">Alleged family</h5>
                        <div class="max-h-96">
                            <pre class="overflow-scroll" style="white-space:normal;">
                        <ul class="flex flex-col list-disc mx-5 p-0">
                            {% for i in alleged_family%}
                            <a href="/relay/{{i}}">
                                <li class="text-sm">{{i}}</li>
                            </a>
                            {% endfor %}
                        </ul>
                    </pre>
                        </div>
                    </div>
                    <div class="overflow-scroll w-1/2 bg-tpurple/10 p-2 rounded-xl">
                        <h5 class="font-semibold">Indirect family</h5>
                        <div class="max-h-96">
                            <pre class="overflow-scroll" style="white-space:normal;">
                        <ul class="flex flex-col list-disc mx-5 p-0">
                            {% for i in indirect_family%}
                            <a href="/relay/{{i}}">
                                <li class="text-sm">{{i}}</li>
                            </a>
                            {% endfor %}
                        </ul>
                    </pre>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border-tpurple p-2 border-2 rounded-xl text-md">
                <h4 class="text-2xl">Exit policy summary</h4>
                <div class="flex flex-row justify-between gap-16">
                    <div class="overflow-scroll w-1/2 bg-tpurple/10 p-2 rounded-xl">
                        <h5 class="font-semibold">Reject</h5>
                        <div class="max-h-64">
                            <pre class="overflow-scroll" style="white-space:normal;">
                            <ul class="flex flex-col list-disc mx-5 p-0">
                                {% for i in exit_policy_summary_reject%}
                                <li class="text-sm">{{i}}</li>
                                {% endfor %}
                            </ul>
                        </pre>
                        </div>
                    </div>
                    <div class="overflow-scroll w-1/2 bg-tpurple/10 p-2 rounded-xl">
                        <h5 class="font-semibold">Accept</h5>
                        <div class="max-h-64">
                            <pre class="overflow-scroll" style="white-space:normal;">
                            <ul class="flex flex-col list-disc mx-5 p-0">
                                {% for i in exit_policy_summary_accept%}
                                <li class="text-sm">{{i}}</li>
                                {% endfor %}
                            </ul>
                        </pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="flex flex-col justify-center items-center content-center py-16">
    <div class="flex flex-col justify-center items-center content-center gap-5 w-screen">
        <div class="flex flex-row">
            {{plotData_1_month|safe}}
            {{plotDataLog_1_month|safe}}
        </div>
        <div class="flex flex-row">
            {{plotData_6_months|safe}}
            {{plotDataLog_6_months|safe}}
        </div>
        <div class="flex flex-row">
            {{plotData_1_year|safe}}
            {{plotDataLog_1_year|safe}}
        </div>
        <div class="flex flex-row">
            {{plotData_5_years|safe}}
            {{plotDataLog_5_years|safe}}
        </div>
    </div>
</div>
<div class="flex flex-col justify-center items-center content-center py-16">
    <div class="flex flex-row justify-center items-center content-center gap-5">
        {% for i in dataTypes%}

        <a href="https://onionoo.torproject.org/{{i}}?search={{fingerprint}}"><button
                class="p-0.5 px-3 bg-tpurple rounded-xl border-2 border-tpurple text-white hover:bg-white hover:text-tpurple transition-all">Download
                all {{i}} data</button></a>
        {% endfor %}
    </div>
</div>
</div>


<script>
    var writeTotal = parseFloat(`{{writeTotal}}`)
    var readTotal = parseFloat(`{{readTotal}}`)

    var writePerSecond = parseFloat(`{{writePerSecond}}`) / 100
    var readperSecond = parseFloat(`{{readPerSecond}}`) / 100


    function increment() {
        writeTotal += writePerSecond
        readTotal += readperSecond
        document.getElementById("written").innerText = Math.round(writeTotal / 1000 / 10) / 100000
        document.getElementById("read").innerText = Math.round(readTotal / 1000 / 10) / 100000
    }
    setInterval(increment, 10)
</script>

{% endblock %}